*{
    margin: 0;
    padding: 0;  
    outline: 0;
    box-sizing: border-box;     
}

body {
    font-family: 'Nunito', sans-serif; 
    background: #FFF;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; 
}

html, body, #root{
    height: 100%;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: #ebebeb;
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    border: 1px solid #ebebeb;
    background-color: #CCC;
}